In [1]:
import numpy as np
import pandas as pd

In [38]:
data = pd.read_csv(r'F:\machine learning and deep learning\datasets\catch-me-if-you-can\train_sessions.csv')
data.head()

,session_id,site1,time1,site2,time2,site3,time3,site4,time4,site5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
0,1,718,2014-02-20 10:02:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2,890,2014-02-22 11:19:50,941.0,2014-02-22 11:19:50,3847.0,2014-02-22 11:19:51,941.0,2014-02-22 11:19:51,942.0,...,2014-02-22 11:19:51,3847.0,2014-02-22 11:19:52,3846.0,2014-02-22 11:19:52,1516.0,2014-02-22 11:20:15,1518.0,2014-02-22 11:20:16,0
2,3,14769,2013-12-16 16:40:17,39.0,2013-12-16 16:40:18,14768.0,2013-12-16 16:40:19,14769.0,2013-12-16 16:40:19,37.0,...,2013-12-16 16:40:19,14768.0,2013-12-16 16:40:20,14768.0,2013-12-16 16:40:21,14768.0,2013-12-16 16:40:22,14768.0,2013-12-16 16:40:24,0
3,4,782,2014-03-28 10:52:12,782.0,2014-03-28 10:52:42,782.0,2014-03-28 10:53:12,782.0,2014-03-28 10:53:42,782.0,...,2014-03-28 10:54:42,782.0,2014-03-28 10:55:12,782.0,2014-03-28 10:55:42,782.0,2014-03-28 10:56:12,782.0,2014-03-28 10:56:42,0
4,5,22,2014-02-28 10:53:05,177.0,2014-02-28 10:55:22,175.0,2014-02-28 10:55:22,178.0,2014-02-28 10:55:23,177.0,...,2014-02-28 10:55:59,175.0,2014-02-28 10:55:59,177.0,2014-02-28 10:55:59,177.0,2014-02-28 10:57:06,178.0,2014-02-28 10:57:11,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253561 entries, 0 to 253560
Data columns (total 22 columns):
session_id    253561 non-null int64
site1         253561 non-null int64
time1         253561 non-null object
site2         250098 non-null float64
time2         250098 non-null object
site3         246919 non-null float64
time3         246919 non-null object
site4         244321 non-null float64
time4         244321 non-null object
site5         241829 non-null float64
time5         241829 non-null object
site6         239495 non-null float64
time6         239495 non-null object
site7         237297 non-null float64
time7         237297 non-null object
site8         235224 non-null float64
time8         235224 non-null object
site9         233084 non-null float64
time9         233084 non-null object
site10        231052 non-null float64
time10        231052 non-null object
target        253561 non-null int64
dtypes: float64(9), int64(3), object(10)
memory usage: 42.6+ MB

In [4]:
#as the null are very less 
data.dropna(axis=0,inplace=True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231052 entries, 1 to 253560
Data columns (total 22 columns):
session_id    231052 non-null int64
site1         231052 non-null int64
time1         231052 non-null object
site2         231052 non-null float64
time2         231052 non-null object
site3         231052 non-null float64
time3         231052 non-null object
site4         231052 non-null float64
time4         231052 non-null object
site5         231052 non-null float64
time5         231052 non-null object
site6         231052 non-null float64
time6         231052 non-null object
site7         231052 non-null float64
time7         231052 non-null object
site8         231052 non-null float64
time8         231052 non-null object
site9         231052 non-null float64
time9         231052 non-null object
site10        231052 non-null float64
time10        231052 non-null object
target        231052 non-null int64
dtypes: float64(9), int64(3), object(10)
memory usage: 40.5+ MB

In [6]:
data.drop('session_id',axis=1,inplace=True)

In [7]:
data.columns

Index(['site1', 'time1', 'site2', 'time2', 'site3', 'time3', 'site4', 'time4',
       'site5', 'time5', 'site6', 'time6', 'site7', 'time7', 'site8', 'time8',
       'site9', 'time9', 'site10', 'time10', 'target'],
      dtype='object')

In [8]:
data[['site1','site2','site3','site4','site5','site6','site7','site8','site9','site10','target']] = data[['site1','site2','site3','site4','site5','site6','site7','site8','site9','site10','target']].astype('category')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231052 entries, 1 to 253560
Data columns (total 21 columns):
site1     231052 non-null category
time1     231052 non-null object
site2     231052 non-null category
time2     231052 non-null object
site3     231052 non-null category
time3     231052 non-null object
site4     231052 non-null category
time4     231052 non-null object
site5     231052 non-null category
time5     231052 non-null object
site6     231052 non-null category
time6     231052 non-null object
site7     231052 non-null category
time7     231052 non-null object
site8     231052 non-null category
time8     231052 non-null object
site9     231052 non-null category
time9     231052 non-null object
site10    231052 non-null category
time10    231052 non-null object
target    231052 non-null category
dtypes: category(11), object(10)
memory usage: 31.5+ MB

In [10]:
a = data['time1'].astype('category')
b = data['target']

In [11]:
data['time1'].nunique()

216078

In [12]:
data['time2'].nunique()

216082

In [13]:
data['time3'].nunique()

216182

In [14]:
data['time4'].nunique()

216018

In [15]:
data['time5'].nunique()

215904

In [16]:
data.tail()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
253555,9041,2013-04-12 13:11:57,291.0,2013-04-12 13:12:01,23.0,2013-04-12 13:12:03,52.0,2013-04-12 13:12:03,23.0,2013-04-12 13:12:06,...,2013-04-12 13:12:06,2371.0,2013-04-12 13:12:07,2371.0,2013-04-12 13:12:09,52.0,2013-04-12 13:12:12,52.0,2013-04-12 13:12:13,0
253556,3474,2013-11-25 10:26:54,3474.0,2013-11-25 10:26:58,141.0,2013-11-25 10:27:03,2428.0,2013-11-25 10:27:04,106.0,2013-11-25 10:27:13,...,2013-11-25 10:27:16,2428.0,2013-11-25 10:27:28,2428.0,2013-11-25 10:27:40,2428.0,2013-11-25 10:27:52,148.0,2013-11-25 10:27:53,0
253557,12727,2013-03-12 16:01:15,12727.0,2013-03-12 16:01:16,2215.0,2013-03-12 16:01:16,38.0,2013-03-12 16:01:17,2215.0,2013-03-12 16:01:17,...,2013-03-12 16:01:17,25444.0,2013-03-12 16:01:18,2215.0,2013-03-12 16:01:18,23.0,2013-03-12 16:01:18,21.0,2013-03-12 16:01:18,0
253559,812,2013-12-19 15:20:22,676.0,2013-12-19 15:20:22,814.0,2013-12-19 15:20:22,22.0,2013-12-19 15:20:22,39.0,2013-12-19 15:20:22,...,2013-12-19 15:20:23,814.0,2013-12-19 15:20:23,570.0,2013-12-19 15:20:23,22.0,2013-12-19 15:20:24,570.0,2013-12-19 15:20:24,0
253560,34942,2014-04-25 09:56:52,1429.0,2014-04-25 09:56:53,34942.0,2014-04-25 09:56:53,29.0,2014-04-25 09:56:54,30.0,2014-04-25 09:56:54,...,2014-04-25 09:56:54,5779.0,2014-04-25 09:56:54,30.0,2014-04-25 09:56:55,35.0,2014-04-25 09:56:55,33.0,2014-04-25 09:56:55,0

In [17]:
data[['time1','time2', 'time3','time4','time5', 'time6','time7','time8','time9','time10']] = data[['time1','time2', 'time3','time4','time5', 'time6','time7','time8','time9','time10']].astype('datetime64')

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231052 entries, 1 to 253560
Data columns (total 21 columns):
site1     231052 non-null category
time1     231052 non-null datetime64[ns]
site2     231052 non-null category
time2     231052 non-null datetime64[ns]
site3     231052 non-null category
time3     231052 non-null datetime64[ns]
site4     231052 non-null category
time4     231052 non-null datetime64[ns]
site5     231052 non-null category
time5     231052 non-null datetime64[ns]
site6     231052 non-null category
time6     231052 non-null datetime64[ns]
site7     231052 non-null category
time7     231052 non-null datetime64[ns]
site8     231052 non-null category
time8     231052 non-null datetime64[ns]
site9     231052 non-null category
time9     231052 non-null datetime64[ns]
site10    231052 non-null category
time10    231052 non-null datetime64[ns]
target    231052 non-null category
dtypes: category(11), datetime64[ns](10)
memory usage: 31.5 MB

In [19]:
t1 = data.time1.unique()
T1 = {}
j=0
for i in t1:
    T1[i] = j
    j += 1
t1 = {v:k for k,v in T1.items()}
data.time1 = data.time1.map(T1)

t2 = data.time2.unique()
T2 = {}
j=0
for i in t2:
    T2[i] = j
    j += 1
t2 = {v:k for k,v in T2.items()}
data.time2 = data.time2.map(T2)
t3 = data.time3.unique()
T3 = {}
j=0
for i in t3:
    T3[i] = j
    j += 1
t3 = {v:k for k,v in T3.items()}
data.time3 = data.time3.map(T3)
t4 = data.time4.unique()
T4 = {}
j=0
for i in t4:
    T4[i] = j
    j += 1
t4 = {v:k for k,v in T4.items()}
data.time4 = data.time4.map(T4)
t5 = data.time5.unique()
T5 = {}
j=0
for i in t5:
    T5[i] = j
    j += 1
t5 = {v:k for k,v in T5.items()}
data.time5 = data.time5.map(T5)
t6 = data.time6.unique()
T6 = {}
j=0
for i in t6:
    T6[i] = j
    j += 1
t6 = {v:k for k,v in T6.items()}
data.time6 = data.time6.map(T6)
t7 = data.time7.unique()
T7 = {}
j=0
for i in t7:
    T7[i] = j
    j += 1
t7 = {v:k for k,v in T7.items()}
data.time7 = data.time7.map(T7)
t8 = data.time8.unique()
T8 = {}
j=0
for i in t8:
    T8[i] = j
    j += 1
t8 = {v:k for k,v in T8.items()}
data.time8 = data.time8.map(T8)
t9 = data.time9.unique()
T9 = {}
j=0
for i in t9:
    T9[i] = j
    j += 1
t9 = {v:k for k,v in T9.items()}
data.time9 = data.time9.map(T9)
t10 = data.time10.unique()
T10 = {}
j=0
for i in t10:
    T10[i] = j
    j += 1
t10 = {v:k for k,v in T10.items()}
data.time10 = data.time10.map(T10)

In [20]:
data.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
1,890,0,941.0,0,3847.0,0,941.0,0,942.0,0,...,0,3847.0,0,3846.0,0,1516.0,0,1518.0,0,0
2,14769,1,39.0,1,14768.0,1,14769.0,1,37.0,1,...,1,14768.0,1,14768.0,1,14768.0,1,14768.0,1,0
3,782,2,782.0,2,782.0,2,782.0,2,782.0,2,...,2,782.0,2,782.0,2,782.0,2,782.0,2,0
4,22,3,177.0,3,175.0,3,178.0,3,177.0,3,...,3,175.0,3,177.0,3,177.0,3,178.0,3,0
6,803,4,23.0,4,5956.0,4,17513.0,4,37.0,4,...,4,803.0,4,17514.0,4,17514.0,4,17514.0,4,0

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231052 entries, 1 to 253560
Data columns (total 21 columns):
site1     231052 non-null category
time1     231052 non-null int64
site2     231052 non-null category
time2     231052 non-null int64
site3     231052 non-null category
time3     231052 non-null int64
site4     231052 non-null category
time4     231052 non-null int64
site5     231052 non-null category
time5     231052 non-null int64
site6     231052 non-null category
time6     231052 non-null int64
site7     231052 non-null category
time7     231052 non-null int64
site8     231052 non-null category
time8     231052 non-null int64
site9     231052 non-null category
time9     231052 non-null int64
site10    231052 non-null category
time10    231052 non-null int64
target    231052 non-null category
dtypes: category(11), int64(10)
memory usage: 31.5 MB

In [22]:
X = data.drop('target',axis=1)

In [23]:
y = data['target']

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train_ytest = train_test_split(X,y,test_size=0.2,random_state=42)

ValueError: too many values to unpack (expected 3)

In [29]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X.iloc[:200000],y[:200000])

f:\great_learnings\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [32]:
y_pred = clf.predict(X[200000:])

In [33]:
y_true = y[200000:]

In [34]:
from sklearn.metrics import confusion_matrix as CM
cm = CM(y_true,y_pred)

In [35]:
cm

array([[30733,     0],
       [  319,     0]], dtype=int64)

In [36]:
from sklearn.metrics import accuracy_score
accuracy_score(y_true,y_pred)

0.9897269096998583

In [40]:
data[data['target']==1]

,session_id,site1,time1,site2,time2,site3,time3,site4,time4,site5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
152,153,5397,2013-11-22 13:23:49,5395.0,2013-11-22 13:23:49,22.0,2013-11-22 13:23:50,5396.0,2013-11-22 13:23:50,5402.0,...,2013-11-22 13:23:50,22.0,2013-11-22 13:23:51,35.0,2013-11-22 13:23:54,33.0,2013-11-22 13:23:54,338.0,2013-11-22 13:23:54,1
286,287,10941,2014-03-24 17:34:14,9783.0,2014-03-24 17:34:14,9786.0,2014-03-24 17:34:14,27339.0,2014-03-24 17:34:14,27338.0,...,2014-03-24 17:34:15,27339.0,2014-03-24 17:34:15,9783.0,2014-03-24 17:34:15,9785.0,2014-03-24 17:34:15,10941.0,2014-03-24 17:34:15,1
429,430,37,2014-02-13 12:46:49,270.0,2014-02-13 12:48:14,32.0,2014-02-13 12:48:17,33.0,2014-02-13 12:48:18,35.0,...,2014-02-13 12:48:23,29.0,2014-02-13 12:48:25,33.0,2014-02-13 12:48:48,12623.0,2014-02-13 12:48:48,704.0,2014-02-13 12:48:48,1
643,644,39,2014-02-17 16:42:03,23.0,2014-02-17 16:42:06,677.0,2014-02-17 16:42:08,22.0,2014-02-17 16:42:12,39.0,...,2014-02-17 16:42:12,21.0,2014-02-17 16:42:12,678.0,2014-02-17 16:42:13,22.0,2014-02-17 16:42:15,678.0,2014-02-17 16:42:17,1
681,682,77,2013-09-12 16:21:55,879.0,2013-09-12 16:21:56,80.0,2013-09-12 16:21:58,879.0,2013-09-12 16:21:58,80.0,...,2013-09-12 16:22:06,77.0,2013-09-12 16:22:10,879.0,2013-09-12 16:22:13,879.0,2013-09-12 16:22:14,80.0,2013-09-12 16:22:14,1
738,739,1057,2013-09-12 16:45:49,77.0,2013-09-12 16:45:50,80.0,2013-09-12 16:45:50,81.0,2013-09-12 16:45:50,76.0,...,2013-09-12 16:45:53,81.0,2013-09-12 16:45:54,80.0,2013-09-12 16:45:55,81.0,2013-09-12 16:45:56,81.0,2013-09-12 16:45:57,1
1015,1016,3240,2013-11-29 13:18:09,3241.0,2013-11-29 13:18:10,1116.0,2013-11-29 13:18:10,38.0,2013-11-29 13:18:11,1116.0,...,2013-11-29 13:18:11,220.0,2013-11-29 13:18:12,29.0,2013-11-29 13:18:13,29.0,2013-11-29 13:18:14,3241.0,2013-11-29 13:18:15,1
1089,1090,616,2013-04-12 09:11:38,23.0,2013-04-12 09:11:38,733.0,2013-04-12 09:11:39,774.0,2013-04-12 09:11:41,733.0,...,2013-04-12 09:11:43,733.0,2013-04-12 09:11:47,3480.0,2013-04-12 09:12:57,27174.0,2013-04-12 09:13:43,23.0,2013-04-12 09:13:43,1
1126,1127,5402,2014-02-17 18:08:05,5396.0,2014-02-17 18:08:05,107.0,2014-02-17 18:08:06,5397.0,2014-02-17 18:08:06,5394.0,...,2014-02-17 18:08:06,5396.0,2014-02-17 18:08:06,2214.0,2014-02-17 18:08:06,5398.0,2014-02-17 18:08:06,5403.0,2014-02-17 18:08:06,1
1302,1303,16486,2014-03-24 16:20:04,1278.0,2014-03-24 16:20:04,27313.0,2014-03-24 16:20:04,559.0,2014-03-24 16:20:05,527.0,...,2014-03-24 16:20:05,248.0,2014-03-24 16:20:05,27289.0,2014-03-24 16:20:06,248.0,2014-03-24 16:20:06,27312.0,2014-03-24 16:20:07,1
1489,1490,3111,2013-12-16 17:09:56,3109.0,2013-12-16 17:09:56,559.0,2013-12-16 17:09:56,558.0,2013-12-16 17:09:56,3109.0,...,2013-12-16 17:09:58,559.0,2013-12-16 17:09:58,558.0,2013-12-16 17:09:58,30.0,2013-12-16 17:09:58,3110.0,2013-12-16 17:09:59,1
1491,1492,1521,2013-02-12 16:46:46,1514.0,2013-02-12 16:47:41,855.0,2013-02-12 16:47:41,1515.0,2013-02-12 16:47:47,1514.0,...,2013-02-12 16:47:47,1516.0,2013-02-12 16:47:47,1517.0,2013-02-12 16:47:47,855.0,2013-02-12 16:47:48,1514.0,2013-02-12 16:47:48,1
1797,1798,29,2013-11-29 13:11:01,35.0,2013-11-29 13:11:01,18876.0,2013-11-29 13:11:02,143.0,2013-11-29 13:11:02,29.0,...,2013-11-29 13:11:04,2271.0,2013-11-29 13:11:05,143.0,2013-11-29 13:11:05,37.0,2013-11-29 13:11:34,17283.0,2013-11-29 13:11:44,1
1898,1899,29,2013-11-18 17:55:06,229.0,2013-11-18 17:55:12,21.0,2013-11-18 17:55:12,21.0,2013-11-18 17:55:35,35.0,...,2013-11-18 17:55:40,29.0,2013-11-18 17:55:40,29.0,2013-11-18 17:55:41,30.0,2013-11-18 17:55:42,21.0,2013-11-18 17:55:49,1
1962,1963,29,2013-02-12 16:48:55,27168.0,2013-02-12 16:48:55,21.0,2013-02-12 16:48:56,23.0,2013-02-12 16:48:56,486.0,...,2013-02-12 16:48:56,12619.0,2013-02-12 16:49:00,22.0,2013-02-12 16:49:08,12640.0,2013-02-12 16:49:08,32.0,2013-02-12 16:49:08,1
2389,2390,76,2013-09-12 16:38:57,77.0,2013-09-12 16:38:58,77.0,2013-09-12 16:39:02,81.0,2013-09-12 16:39:06,80.0,...,2013-09-12 16:39:07,75.0,2013-09-12 16:39:08,81.0,2013-09-12 16:39:13,23.0,2013-09-12 16:39:14,76.0,2013-09-12 16:39:14,1
2397,2398,80,2013-09-12 16:35:01,879.0,2013-09-12 16:35:02,879.0,2013-09-12 16:35:04,879.0,2013-09-12 16:35:05,879.0,...,2013-09-12 16:35:08,879.0,2013-09-12 16:35:10,879.0,2013-09-12 16:35:11,80.0,2013-09-12 16:35:11,879.0,2013-09-12 16:35:14,1
2405,2406,82,2014-04-15 17:21:09,78.0,2014-04-15 17:21:09,78.0,2014-04-15 17:21:11,1307.0,2014-04-15 17:21:12,75.0,...,2014-04-15 17:21:14,23.0,2014-04-15 17:21:20,77.0,2014-04-15 17:21:20,22.0,2014-04-15 17:21:20,82.0,2014-04-15 17:21:49,1
2629,2630,942,2013-11-29 12:42:00,940.0,2013-11-29 12:42:04,3559.0,2013-11-29 12:42:04,3560.0,2013-11-29 12:42:04,3559.0,...,2013-11-29 12:42:05,941.0,2013-11-29 12:42:05,940.0,2013-11-29 12:42:05,3560.0,2013-11-29 12:42:05,3559.0,2013-11-29 12:42:08,1
2674,2675,80,2013-09-12 17:32:14,879.0,2013-09-12 17:32:29,80.0,2013-09-12 17:32:30,879.0,2013-09-12 17:32:37,879.0,...,2013-09-12 17:32:54,879.0,2013-09-12 17:33:03,80.0,2013-09-12 17:33:03,879.0,2013-09-12 17:33:07,879.0,2013-09-12 17:33:14,1
2683,2684,37,2013-11-18 16:36:35,37.0,2013-11-18 16:36:39,30.0,2013-11-18 16:36:45,22.0,2013-11-18 16:37:31,1919.0,...,2013-11-18 16:37:33,35.0,2013-11-18 16:37:33,29.0,2013-11-18 16:37:34,37.0,2013-11-18 16:38:08,29.0,2013-11-18 16:38:38,1
2883,2884,14,2014-03-24 16:07:25,11241.0,2014-03-24 16:07:34,11241.0,2014-03-24 16:07:35,11241.0,2014-03-24 16:07:36,11.0,...,2014-03-24 16:07:52,3.0,2014-03-24 16:07:53,11.0,2014-03-24 16:07:54,7.0,2014-03-24 16:07:54,65.0,2014-03-24 16:07:55,1
2960,2961,76,2014-04-15 16:30:44,77.0,2014-04-15 16:33:00,879.0,2014-04-15 16:33:01,52.0,2014-04-15 16:33:07,77.0,...,2014-04-15 16:33:26,77.0,2014-04-15 16:33:27,76.0,2014-04-15 16:33:31,23.0,2014-04-15 16:33:36,78.0,2014-04-15 16:33:43,1
3040,3041,30,2014-04-15 17:31:50,37.0,2014-04-15 17:31:50,32.0,2014-04-15 17:31:50,30.0,2014-04-15 17:31:51,35.0,...,2014-04-15 17:31:51,7494.0,2014-04-15 17:31:52,29.0,2014-04-15 17:31:52,37.0,2014-04-15 17:31:52,37.0,2014-04-15 17:31:53,1
3171,3172,82,2013-09-12 16:12:40,82.0,2013-09-12 16:12:42,75.0,2013-09-12 16:12:43,77.0,2013-09-12 16:12:49,23.0,...,2013-09-12 16:12:49,76.0,2013-09-12 16:12:49,52.0,2013-09-12 16:12:49,77.0,2013-09-12 16:12:50,77.0,2013-09-12 16:12:51,1
3491,3492,27228,2014-02-24 16:42:31,704.0,2014-02-24 16:42:31,27228.0,2014-02-24 16:42:32,3000.0,2014-02-24 16:42:34,3000.0,...,2014-02-24 16:42:46,1919.0,2014-02-24 16:44:09,1919.0,2014-02-24 16:45:39,1919.0,2014-02-24 16:47:09,3000.0,2014-02-24 16:47:34,1
3697,3698,80,2013-09-12 17:52:17,881.0,2013-09-12 17:52:18,1057.0,2013-09-12 17:52:18,76.0,2013-09-12 17:52:19,77.0,...,2013-09-12 17:52:19,82.0,2013-09-12 17:52:19,1057.0,2013-09-12 17:52:19,1057.0,2013-09-12 17:52:22,77.0,2013-09-12 17:52:22,1
3861,3862,733,2013-12-17 13:17:10,733.0,2013-12-17 13:17:15,733.0,2013-12-17 13:17:58,733.0,2013-12-17 13:17:59,733.0,...,2013-12-17 13:18:01,733.0,2013-12-17 13:18:02,733.0,2013-12-17 13:18:07,733.0,2013-12-17 13:18:12,733.0,2013-12-17 13:18:14,1
3937,3938,22,2014-04-15 16:07:07,80.0,2014-04-15 16:07:09,80.0,2014-04-15 16:07:16,81.0,2014-04-15 16:07:22,80.0,...,2014-04-15 16:07:22,76.0,2014-04-15 16:07:23,81.0,2014-04-15 16:07:24,75.0,2014-04-15 16:07:25,77.0,2014-04-15 16:07:27,1
4023,4024,81,2013-09-12 16:31:46,81.0,2013-09-12 16:31:47,77.0,2013-09-12 16:31:47,76.0,2013-09-12 16:31:48,81.0,...,2013-09-12 16:31:51,80.0,2013-09-12 16:31:54,80.0,2013-09-12 16:31:55,81.0,2013-09-12 16:32:05,80.0,2013-09-12 16:32:05,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249856,249857,170,2014-02-25 15:57:21,1074.0,2014-02-25 15:57:22,1074.0,2014-02-25 15:57:23,134.0,2014-02-25 15:57:24,134.0,...,2014-02-25 15:59:12,27189.0,2014-02-25 15:59:13,27189.0,2014-02-25 15:59:16,27189.0,2014-02-25 15:59:33,27189.0,2014-02-25 16:02:37,1
249863,249864,78,2014-03-24 17:39:08,881.0,2014-03-24 17:39:15,75.0,2014-03-24 17:39:28,78.0,2014-03-24 17:39:33,76.0,...,2014-03-24 17:39:57,23.0,2014-03-24 17:40:10,617.0,2014-03-24 17:40:20,22.0,2014-03-24 17:40:21,78.0,2014-03-24 17:40:21,1
250034,250035,1324,2014-02-17 16:37:48,1919.0,2014-02-17 16:37:52,1324.0,2014-02-17 16:37:52,2081.0,2014-02-17 16:37:53,2078.0,...,2014-02-17 16:37:56,2080.0,2014-02-17 16:37:57,2079.0,2014-02-17 16:37:57,2078.0,2014-02-17 16:37:57,2077.0,2014-02-17 16:37:57,1
250048,250049,21,2014-03-24 16:16:38,24553.0,2014-03-24 16:16:39,22.0,2014-03-24 16:16:39,24554.0,2014-03-24 16:16:39,21.0,...,2014-03-24 16:16:39,24553.0,2014-03-24 16:16:40,24553.0,2014-03-24 16:16:41,22.0,2014-03-24 16:16:42,24553.0,2014-03-24 16:16:42,1
250237,250238,7832,2013-11-15 12:28:02,30.0,2013-11-15 12:28:02,29.0,2013-11-15 12:28:03,30.0,2013-11-15 12:28:09,7832.0,...,2013-11-15 12:28:09,37.0,2013-11-15 12:28:18,21.0,2013-11-15 12:28:28,7832.0,2013-11-15 12:28:30,30.0,2013-11-15 12:28:30,1
250401,250402,879,2014-02-25 17:17:11,77.0,2014-02-25 17:17:11,77.0,2014-02-25 17:17:12,22.0,2014-02-25 17:17:13,77.0,...,2014-02-25 17:17:18,879.0,2014-02-25 17:17:18,76.0,2014-02-25 17:17:18,75.0,2014-02-25 17:17:19,76.0,2014-02-25 17:17:20,1
250562,250563,879,2013-09-12 17:35:14,879.0,2013-09-12 17:35:16,80.0,2013-09-12 17:35:22,879.0,2013-09-12 17:35:29,879.0,...,2013-09-12 17:35:35,76.0,2013-09-12 17:35:41,879.0,2013-09-12 17:35:44,80.0,2013-09-12 17:35:52,879.0,2013-09-12 17:35:59,1
250758,250759,77,2013-09-12 18:17:02,76.0,2013-09-12 18:17:03,76.0,2013-09-12 18:17:04,52.0,2013-09-12 18:17:04,76.0,...,2013-09-12 18:17:05,1345.0,2013-09-12 18:17:05,1057.0,2013-09-12 18:17:05,80.0,2013-09-12 18:17:06,77.0,2013-09-12 18:17:06,1
250834,250835,21,2013-11-15 13:17:54,21.0,2013-11-15 13:19:48,229.0,2013-11-15 13:21:44,21.0,2013-11-15 13:21:44,21.0,...,2013-11-15 13:22:00,21.0,2013-11-15 13:22:07,21.0,2013-11-15 13:22:09,27208.0,2013-11-15 13:22:09,229.0,2013-11-15 13:22:12,1
251083,251084,22,2014-04-14 18:03:06,77.0,2014-04-14 18:03:06,80.0,2014-04-14 18:03:06,617.0,2014-04-14 18:03:06,81.0,...,2014-04-14 18:03:18,81.0,2014-04-14 18:03:18,5400.0,2014-04-14 18:03:32,5396.0,2014-04-14 18:03:32,5401.0,2014-04-14 18:03:32,1
251128,251129,2249,2014-02-24 18:13:12,27308.0,2014-02-24 18:13:12,39.0,2014-02-24 18:13:14,37.0,2014-02-24 18:13:14,27308.0,...,2014-02-24 18:13:15,21.0,2014-02-24 18:13:24,940.0,2014-02-24 18:13:31,39.0,2014-02-24 18:13:31,37.0,2014-02-24 18:13:31,1
251174,251175,270,2013-02-12 16:25:10,270.0,2013-02-12 16:25:11,270.0,2013-02-12 16:32:10,21.0,2013-02-12 16:32:11,21.0,...,2013-02-12 16:32:25,21.0,2013-02-12 16:32:25,7832.0,2013-02-12 16:32:26,30.0,2013-02-12 16:32:27,7832.0,2013-02-12 16:32:27,1
251230,251231,76,2013-09-12 17:41:44,81.0,2013-09-12 17:41:46,81.0,2013-09-12 17:41:47,80.0,2013-09-12 17:41:49,80.0,...,2013-09-12 17:42:00,81.0,2013-09-12 17:42:07,80.0,2013-09-12 17:42:09,81.0,2013-09-12 17:42:15,80.0,2013-09-12 17:42:19,1
251374,251375,3559,2013-11-29 12:48:16,3559.0,2013-11-29 12:48:18,3559.0,2013-11-29 12:48:19,940.0,2013-11-29 12:48:19,3560.0,...,2013-11-29 12:48:19,942.0,2013-11-29 12:48:19,941.0,2013-11-29 12:48:21,3559.0,2013-11-29 12:48:21,942.0,2013-11-29 12:48:22,1
251590,251591,2078,2013-11-22 12:42:45,2079.0,2013-11-22 12:42:45,29.0,2013-11-22 12:42:46,2078.0,2013-11-22 12:42:47,2077.0,...,2013-11-22 12:42:48,2078.0,2013-11-22 12:42:48,2078.0,2013-11-22 12:42:50,2081.0,2013-11-22 12:43:43,2080.0,2013-11-22 12:43:43,1
251651,251652,76,2013-09-12 16:47:52,52.0,2013-09-12 16:47:53,77.0,2013-09-12 16:47:53,82.0,2013-09-12 16:47:56,76.0,...,2013-09-12 16:47:57,77.0,2013-09-12 16:47:57,76.0,2013-09-12 16:47:57,80.0,2013-09-12 16:47:57,77.0,2013-09-12 16:47:58,1
251712,251713,704,2014-02-25 17:35:53,33.0,2014-02-25 17:36:04,8316.0,2014-02-25 17:36:04,704.0,2014-02-25 17:36:04,29.0,...,2014-02-25 17:36:04,3000.0,2014-02-25 17:36:05,29.0,2014-02-25 17:36:05,704.0,2014-02-25 17:36:06,704.0,2014-02-25 17:36:07,1
251963,251964,942,2013-11-29 12:41:26,941.0,2013-11-29 12:41:26,3846.0,2013-11-29 12:41:40,6006.0,2013-11-29 12:41:41,3846.0,...,2013-11-29 12:41:42,941.0,2013-11-29 12:41:42,6006.0,2013-11-29 12:41:42,942.0,2013-11-29 12:41:42,3847.0,2013-11-29 12:41:42,1
252010,252011,3000,2014-02-25 16:55:57,5302.0,2014-02-25 16:56:12,99.0,2014-02-25 16:56:12,106.0,2014-02-25 16:56:12,29.0,...,2014-02-25 16:56:13,35.0,2014-02-25 16:56:13,32.0,2014-02-25 16:56:13,33.0,2014-02-25 16:56:13,8316.0,2014-02-25 16:56:13,1
252126,252127,29,2014-02-25 16:07:40,35.0,2014-02-25 16:07:42,29.0,2014-02-25 16:07:42,1048.0,2014-02-25 16:07:42,32.0,...,2014-02-25 16:07:42,33.0,2014-02-25 16:07:42,27309.0,2014-02-25 16:07:45,27310.0,2014-02-25 16:07:45,76.0,2014-02-25 16:07:45,1
252187,252188,3111,2013-12-16 17:09:59,30.0,2013-12-16 17:09:59,33.0,2013-12-16 17:09:59,35.0,2013-12-16 17:09:59,30.0,...,2013-12-16 17:10:01,3109.0,2013-12-16 17:10:02,29.0,2013-12-16 17:10:03,3118.0,2013-12-16 17:10:04,559.0,2013-12-16 17:10:06,1
252356,252357,35,2014-04-15 17:38:44,233.0,2014-04-15 17:38:46,29.0,2014-04-15 17:38:46,37.0,2014-04-15 17:38:48,2271.0,...,2014-04-15 17:39:18,143.0,2014-04-15 17:39:31,17283.0,2014-04-15 17:39:31,17283.0,2014-04-15 17:39:32,656.0,2014-04-15 17:39:32,1
252583,252584,2,2014-03-31 16:39:16,3.0,2014-03-31 16:39:17,3.0,2014-03-31 16:39:18,8.0,2014-03-31 16:39:20,8.0,...,2014-03-31 16:40:11,14.0,2014-03-31 16:40:18,4.0,2014-03-31 16:40:18,54.0,2014-03-31 16:40:19,27190.0,2014-03-31 16:40:19,1
252604,252605,27174,2013-04-12 09:09:29,39.0,2013-04-12 09:09:29,156.0,2013-04-12 09:09:31,319.0,2013-04-12 09:09:31,392.0,...,2013-04-12 09:09:32,22410.0,2013-04-12 09:09:33,11812.0,2013-04-12 09:09:52,11812.0,2013-04-12 09:10:20,11812.0,2013-04-12 09:10:27,1
252708,252709,707,2013-11-15 13:36:32,229.0,2013-11-15 13:36:32,707.0,2013-11-15 13:36:34,229.0,2013-11-15 13:36:34,21.0,...,2013-11-15 13:36:39,3281.0,2013-11-15 13:36:39,3278.0,2013-11-15 13:36:40,3285.0,2013-11-15 13:36:40,21.0,2013-11-15 13:36:40,1
252789,252790,80,2013-11-29 12:51:26,879.0,2013-11-29 12:51:32,879.0,2013-11-29 12:51:36,879.0,2013-11-29 12:51:47,80.0,...,2013-11-29 12:52:05,76.0,2013-11-29 12:52:25,80.0,2013-11-29 12:52:27,80.0,2013-11-29 12:52:45,80.0,2013-11-29 12:52:53,1
252849,252850,2271,2013-11-29 13:02:30,37.0,2013-11-29 13:02:58,17283.0,2013-11-29 13:03:20,29.0,2013-11-29 13:03:20,29.0,...,2013-11-29 13:03:21,17283.0,2013-11-29 13:03:21,143.0,2013-11-29 13:03:21,33.0,2013-11-29 13:03:21,18876.0,2013-11-29 13:03:21,1
253139,253140,4694,2014-03-24 16:52:50,27332.0,2014-03-24 16:52:52,2409.0,2014-03-24 16:52:52,27332.0,2014-03-24 16:52:53,2401.0,...,2014-03-24 16:52:54,27332.0,2014-03-24 16:52:55,4696.0,2014-03-24 16:52:57,27332.0,2014-03-24 16:52:57,2401.0,2014-03-24 16:52:59,1
253442,253443,22,2014-04-14 17:30:57,617.0,2014-04-14 17:30:57,76.0,2014-04-14 17:36:02,80.0,2014-04-14 17:36:06,76.0,...,2014-04-14 17:36:07,879.0,2014-04-14 17:36:08,1440.0,2014-04-14 17:36:08,1307.0,2014-04-14 17:36:09,77.0,2014-04-14 17:36:09,1
253445,253446,80,2013-09-12 17:31:50,77.0,2013-09-12 17:31:51,80.0,2013-09-12 17:31:51,879.0,2013-09-12 17:31:52,879.0,...,2013-09-12 17:31:59,80.0,2013-09-12 17:32:00,879.0,2013-09-12 17:32:08,80.0,2013-09-12 17:32:10,879.0,2013-09-12 17:32:14,1

In [41]:
data[data['target']==0]

,session_id,site1,time1,site2,time2,site3,time3,site4,time4,site5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
0,1,718,2014-02-20 10:02:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2,890,2014-02-22 11:19:50,941.0,2014-02-22 11:19:50,3847.0,2014-02-22 11:19:51,941.0,2014-02-22 11:19:51,942.0,...,2014-02-22 11:19:51,3847.0,2014-02-22 11:19:52,3846.0,2014-02-22 11:19:52,1516.0,2014-02-22 11:20:15,1518.0,2014-02-22 11:20:16,0
2,3,14769,2013-12-16 16:40:17,39.0,2013-12-16 16:40:18,14768.0,2013-12-16 16:40:19,14769.0,2013-12-16 16:40:19,37.0,...,2013-12-16 16:40:19,14768.0,2013-12-16 16:40:20,14768.0,2013-12-16 16:40:21,14768.0,2013-12-16 16:40:22,14768.0,2013-12-16 16:40:24,0
3,4,782,2014-03-28 10:52:12,782.0,2014-03-28 10:52:42,782.0,2014-03-28 10:53:12,782.0,2014-03-28 10:53:42,782.0,...,2014-03-28 10:54:42,782.0,2014-03-28 10:55:12,782.0,2014-03-28 10:55:42,782.0,2014-03-28 10:56:12,782.0,2014-03-28 10:56:42,0
4,5,22,2014-02-28 10:53:05,177.0,2014-02-28 10:55:22,175.0,2014-02-28 10:55:22,178.0,2014-02-28 10:55:23,177.0,...,2014-02-28 10:55:59,175.0,2014-02-28 10:55:59,177.0,2014-02-28 10:55:59,177.0,2014-02-28 10:57:06,178.0,2014-02-28 10:57:11,0
5,6,570,2014-03-18 15:18:31,21.0,2014-03-18 15:18:39,570.0,2014-03-18 15:23:02,21.0,2014-03-18 15:23:43,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
6,7,803,2014-02-13 16:45:35,23.0,2014-02-13 16:45:35,5956.0,2014-02-13 16:45:35,17513.0,2014-02-13 16:45:35,37.0,...,2014-02-13 16:47:14,803.0,2014-02-13 16:47:14,17514.0,2014-02-13 16:47:15,17514.0,2014-02-13 16:47:16,17514.0,2014-02-13 16:47:17,0
7,8,22,2013-04-12 10:27:26,21.0,2013-04-12 10:27:26,29.0,2013-04-12 10:27:28,5041.0,2013-04-12 10:27:29,14422.0,...,2013-04-12 10:27:29,21.0,2013-04-12 10:27:29,5041.0,2013-04-12 10:27:31,14421.0,2013-04-12 10:27:31,14421.0,2013-04-12 10:27:32,0
8,9,668,2014-03-17 16:23:08,940.0,2014-03-17 16:23:35,942.0,2014-03-17 16:23:35,941.0,2014-03-17 16:23:35,941.0,...,2014-03-17 16:23:36,940.0,2014-03-17 16:23:36,23.0,2014-03-17 16:23:52,21.0,2014-03-17 16:23:52,22.0,2014-03-17 16:23:53,0
9,10,3700,2014-02-20 16:09:13,229.0,2014-02-20 16:10:08,570.0,2014-02-20 16:10:08,21.0,2014-02-20 16:10:08,229.0,...,2014-02-20 16:10:24,21.0,2014-02-20 16:10:29,21.0,2014-02-20 16:10:39,2336.0,2014-02-20 16:10:40,2044.0,2014-02-20 16:10:40,0
10,11,229,2014-01-27 09:41:01,1500.0,2014-01-27 09:42:33,33.0,2014-01-27 09:42:33,1500.0,2014-01-27 09:42:34,391.0,...,2014-01-27 09:42:34,29.0,2014-01-27 09:42:34,2276.0,2014-01-27 09:42:35,40305.0,2014-01-27 09:42:40,23.0,2014-01-27 09:42:41,0
11,12,37,2014-01-22 13:05:21,39.0,2014-01-22 13:05:24,3592.0,2014-01-22 13:05:32,890.0,2014-01-22 13:05:44,35.0,...,2014-01-22 13:05:44,22.0,2014-01-22 13:05:44,30.0,2014-01-22 13:05:44,33.0,2014-01-22 13:05:44,3592.0,2014-01-22 13:05:44,0
12,13,23,2014-03-31 13:51:43,747.0,2014-03-31 13:51:44,23.0,2014-03-31 13:51:46,749.0,2014-03-31 13:51:46,23.0,...,2014-03-31 13:52:46,752.0,2014-03-31 13:54:43,55.0,2014-03-31 14:10:12,56.0,2014-03-31 14:10:12,55.0,2014-03-31 14:10:13,0
13,14,262,2014-04-04 13:12:14,322.0,2014-04-04 13:12:15,625.0,2014-04-04 13:12:16,52.0,2014-04-04 13:12:16,37.0,...,2014-04-04 13:12:31,21.0,2014-04-04 13:12:42,2164.0,2014-04-04 13:12:43,2164.0,2014-04-04 13:12:44,30.0,2014-04-04 13:12:45,0
14,15,2883,2014-03-22 11:33:00,2945.0,2014-03-22 11:33:16,167.0,2014-03-22 11:33:19,167.0,2014-03-22 11:33:20,167.0,...,2014-03-22 11:33:21,3.0,2014-03-22 11:33:22,229.0,2014-03-22 11:33:27,21.0,2014-03-22 11:33:27,76.0,2014-03-22 11:33:27,0
15,16,28395,2014-02-04 09:31:46,248.0,2014-02-04 09:31:46,728.0,2014-02-04 09:31:47,3364.0,2014-02-04 09:31:47,3362.0,...,2014-02-04 09:31:47,30.0,2014-02-04 09:31:47,102.0,2014-02-04 09:31:47,727.0,2014-02-04 09:31:47,28396.0,2014-02-04 09:31:47,0
16,17,63,2014-02-24 08:06:14,167.0,2014-02-24 08:07:25,167.0,2014-02-24 08:07:26,359.0,2014-02-24 08:07:27,167.0,...,2014-02-24 08:07:30,167.0,2014-02-24 08:07:31,360.0,2014-02-24 08:07:31,363.0,2014-02-24 08:07:31,362.0,2014-02-24 08:07:31,0
17,18,178,2013-02-12 15:15:14,343.0,2013-02-12 15:15:14,167.0,2013-02-12 15:16:26,270.0,2013-02-12 15:16:26,167.0,...,2013-02-12 15:16:31,2727.0,2013-02-12 15:16:31,2725.0,2013-02-12 15:16:31,2724.0,2013-02-12 15:16:31,2732.0,2013-02-12 15:16:31,0
18,19,22736,2013-04-12 11:06:58,22736.0,2013-04-12 11:07:08,22736.0,2013-04-12 11:07:19,22736.0,2013-04-12 11:07:28,22736.0,...,2013-04-12 11:07:48,22736.0,2013-04-12 11:07:58,22736.0,2013-04-12 11:08:08,22736.0,2013-04-12 11:08:18,22736.0,2013-04-12 11:08:20,0
19,20,33,2014-01-29 11:27:15,35.0,2014-01-29 11:27:15,52.0,2014-01-29 11:27:16,23.0,2014-01-29 11:27:16,29.0,...,2014-01-29 11:27:19,2439.0,2014-01-29 11:27:20,29.0,2014-01-29 11:27:20,803.0,2014-01-29 11:27:20,23.0,2014-01-29 11:27:20,0
20,21,676,2013-05-12 12:52:12,812.0,2013-05-12 12:52:12,982.0,2013-05-12 12:52:12,39.0,2013-05-12 12:52:12,812.0,...,2013-05-12 12:52:16,677.0,2013-05-12 12:52:16,22616.0,2013-05-12 12:52:16,63.0,2013-05-12 12:52:35,679.0,2013-05-12 12:52:39,0
21,22,21,2014-02-04 09:59:41,21.0,2014-02-04 09:59:55,22.0,2014-02-04 09:59:56,23.0,2014-02-04 09:59:58,22.0,...,2014-02-04 10:00:56,21.0,2014-02-04 10:00:57,23.0,2014-02-04 10:00:57,63.0,2014-02-04 10:02:48,NaN,NaN,0
22,23,782,2014-03-26 11:27:00,782.0,2014-03-26 11:27:30,782.0,2014-03-26 11:28:00,782.0,2014-03-26 11:28:30,782.0,...,2014-03-26 11:29:30,780.0,2014-03-26 11:29:55,780.0,2014-03-26 11:29:57,782.0,2014-03-26 11:30:00,782.0,2014-03-26 11:30:30,0
23,24,812,2013-12-12 20:51:18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
24,25,23,2013-11-21 12:59:23,16249.0,2013-11-21 12:59:24,16249.0,2013-11-21 12:59:25,66.0,2013-11-21 13:00:23,939.0,...,2013-11-21 13:00:25,229.0,2013-11-21 13:00:30,21.0,2013-11-21 13:00:30,23.0,2013-11-21 13:00:30,7270.0,2013-11-21 13:00:32,0
25,26,23,2013-02-12 10:17:09,22.0,2013-02-12 10:17:09,25013.0,2013-02-12 10:17:21,25013.0,2013-02-12 10:18:06,3430.0,...,2013-02-12 10:18:51,66.0,2013-02-12 10:19:33,63.0,2013-02-12 10:19:33,25013.0,2013-02-12 10:19:36,25013.0,2013-02-12 10:20:21,0
26,27,23,2014-02-04 08:47:31,291.0,2014-02-04 08:47:31,2894.0,2014-02-04 08:47:31,1643.0,2014-02-04 08:47:31,2893.0,...,2014-02-04 08:47:32,291.0,2014-02-04 08:47:32,2896.0,2014-02-04 08:47:32,48.0,2014-02-04 08:48:28,291.0,2014-02-04 08:48:32,0
27,28,780,2014-03-25 10:43:58,780.0,2014-03-25 10:44:00,780.0,2014-03-25 10:44:05,780.0,2014-03-25 10:44:06,780.0,...,2014-03-25 10:44:09,782.0,2014-03-25 10:44:20,780.0,2014-03-25 10:44:33,780.0,2014-03-25 10:44:34,780.0,2014-03-25 10:44:40,0
28,29,6289,2013-11-29 13:20:21,27963.0,2013-11-29 13:20:22,18257.0,2013-11-29 13:20:23,27962.0,2013-11-29 13:20:26,21.0,...,2013-11-29 13:20:26,27961.0,2013-11-29 13:20:26,27954.0,2013-11-29 13:20:26,27954.0,2013-11-29 13:20:27,27960.0,2013-11-29 13:20:27,0
29,30,2740,2014-04-15 14:55:40,262.0,2014-04-15 14:55:41,539.0,2014-04-15 14:55:42,322.0,2014-04-15 14:55:42,148.0,...,2014-04-15 14:55:43,293.0,2014-04-15 14:55:43,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253531,253532,14678,2014-01-30 09:14:23,14677.0,2014-01-30 09:14:45,167.0,2014-01-30 09:14:56,167.0,2014-01-30 09:14:57,167.0,...,2014-01-30 09:15:08,384.0,2014-01-30 09:15:22,167.0,2014-01-30 09:15:22,14677.0,2014-01-30 09:16:31,14678.0,2014-01-30 09:16:32,0
253532,253533,22,2014-02-25 10:31:36,3346.0,2014-02-25 10:31:36,23.0,2014-02-25 10:31:36,12382.0,2014-02-25 10:31:38,12382.0,...,2014-02-25 10:31:40,12382.0,2014-02-25 10:31:41,38.0,2014-02-25 10:31:42,12382.0,2014-02-25 10:31:42,12382.0,2014-02-25 10:31:45,0
253533,253534,8,2014-03-25 14:52:48,1996.0,2014-03-25 14:52:48,1996.0,2014-03-25 14:52:49,32.0,2014-03-25 14:52:49,1997.0,...,2014-03-25 14:52:50,1996.0,2014-03-25 14:52:50,30.0,2014-03-25 14:52:50,1997.0,2014-03-25 14:52:50,1998.0,2014-03-25 14:52:51,0
253534,253535,2428,2013-11-25 10:48:37,2428.0,2013-11-25 10:48:50,2428.0,2013-11-25 10:49:02,2428.0,2013-11-25 10:49:14,2428.0,...,2013-11-25 10:49:38,2428.0,2013-11-25 10:49:50,2428.0,2013-11-25 10:50:02,2428.0,2013-11-25 10:50:14,2428.0,2013-11-25 10:50:26,0
253535,253536,76,2014-03-30 12:54:10,76.0,2014-03-30 12:54:18,82.0,2014-03-30 12:54:18,80.0,2014-03-30 12:54:18,80.0,...,2014-03-30 12:54:19,77.0,2014-03-30 12:54:19,76.0,2014-03-30 12:54:25,80.0,2014-03-30 12:54:27,80.0,2014-03-30 12:54:28,0
253536,253537,812,2013-12-16 10:01:48,173.0,2013-12-16 10:01:51,173.0,2013-12-16 10:02:03,21.0,2013-12-16 10:02:11,21.0,...,2013-12-16 10:02:22,21.0,2013-12-16 10:02:23,23.0,2013-12-16 10:02:23,830.0,2013-12-16 10:02:23,22.0,2013-12-16 10:02:23,0
253537,253538,306,2014-02-04 13:59:54,56.0,2014-02-04 14:03:58,55.0,2014-02-04 14:03:58,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
253538,253539,29,2013-11-22 16:48:11,2097.0,2013-11-22 16:48:12,33.0,2013-11-22 16:48:13,29.0,2013-11-22 16:48:13,35.0,...,2013-11-22 16:48:14,22.0,2013-11-22 16:48:14,2097.0,2013-11-22 16:48:15,35.0,2013-11-22 16:48:16,33.0,2013-11-22 16:48:16,0
253539,253540,2050,2014-02-18 10:33:46,2856.0,2014-02-18 10:33:46,570.0,2014-02-18 10:33:46,29.0,2014-02-18 10:33:46,22935.0,...,2014-02-18 10:33:47,18544.0,2014-02-18 10:33:48,22935.0,2014-02-18 10:33:48,29.0,2014-02-18 10:33:48,22935.0,2014-02-18 10:33:49,0
253540,253541,782,2014-03-17 10:14:03,782.0,2014-03-17 10:14:33,780.0,2014-03-17 10:14:43,780.0,2014-03-17 10:14:52,780.0,...,2014-03-17 10:14:59,778.0,2014-03-17 10:15:01,780.0,2014-03-17 10:15:01,782.0,2014-03-17 10:15:03,780.0,2014-03-17 10:15:03,0
253541,253542,1514,2014-01-22 15:59:12,855.0,2014-01-22 15:59:12,1518.0,2014-01-22 15:59:12,1524.0,2014-01-22 15:59:13,1520.0,...,2014-01-22 15:59:13,1524.0,2014-01-22 15:59:16,1524.0,2014-01-22 15:59:17,1519.0,2014-01-22 15:59:17,1524.0,2014-01-22 15:59:18,0
253542,253543,912,2014-03-25 17:36:09,32.0,2014-03-25 17:36:09,35.0,2014-03-25 17:36:09,1647.0,2014-03-25 17:36:11,912.0,...,2014-03-25 17:36:11,29.0,2014-03-25 17:36:11,21.0,2014-03-25 17:36:53,1645.0,2014-03-25 17:36:58,21.0,2014-03-25 17:36:58,0
253543,253544,9738,2013-04-12 16:06:02,9740.0,2013-04-12 16:06:02,9738.0,2013-04-12 16:06:08,9738.0,2013-04-12 16:06:09,9740.0,...,2013-04-12 16:06:10,9740.0,2013-04-12 16:06:10,3043.0,2013-04-12 16:06:11,32.0,2013-04-12 16:06:11,9738.0,2013-04-12 16:06:11,0
253544,253545,6003,2014-04-20 17:21:48,6003.0,2014-04-20 17:21:49,6003.0,2014-04-20 17:21:51,6003.0,2014-04-20 17:21:54,6003.0,...,2014-04-20 17:21:59,6003.0,2014-04-20 17:22:01,6003.0,2014-04-20 17:22:05,6003.0,2014-04-20 17:22:08,NaN,NaN,0
253545,253546,4368,2014-02-24 10:13:49,17744.0,2014-02-24 10:14:02,17743.0,2014-02-24 10:14:03,29.0,2014-02-24 10:14:03,33.0,...,2014-02-24 10:14:03,4368.0,2014-02-24 10:14:04,37.0,2014-02-24 10:14:11,948.0,2014-02-24 10:14:59,959.0,2014-02-24 10:14:59,0
253546,253547,39,2014-02-27 14:53:54,8556.0,2014-02-27 14:53:54,1039.0,2014-02-27 14:53:57,812.0,2014-02-27 14:53:57,570.0,...,2014-02-27 14:53:58,774.0,2014-02-27 14:53:58,812.0,2014-02-27 14:53:58,167.0,2014-02-27 14:55:41,167.0,2014-02-27 14:55:42,0
253547,253548,677,2013-11-29 13:18:12,812.0,2013-11-29 13:18:56,812.0,2013-11-29 13:20:46,880.0,2013-11-29 13:21:22,677.0,...,2013-11-29 13:21:55,812.0,2013-11-29 13:23:56,616.0,2013-11-29 13:25:09,812.0,2013-11-29 13:25:46,677.0,2013-11-29 13:25:58,0
253548,253549,3,2014-02-17 16:53:26,8.0,2014-02-17 16:53:39,3.0,2014-02-17 16:53:43,4.0,2014-02-17 16:53:45,3303.0,...,2014-02-17 16:53:48,14.0,2014-02-17 16:53:48,8.0,2014-02-17 16:53:49,14.0,2014-02-17 16:53:49,20488.0,2014-02-17 16:53:49,0
253549,253550,77,2014-03-24 11:49:51,75.0,2014-03-24 11:49:51,77.0,2014-03-24 11:49:53,75.0,2014-03-24 11:49:56,55.0,...,2014-03-24 11:50:02,55.0,2014-03-24 11:50:03,76.0,2014-03-24 11:50:05,75.0,2014-03-24 11:50:05,80.0,2014-03-24 11:50:05,0
253550,253551,1039,2014-03-26 14:11:42,812.0,2014-03-26 14:21:17,1039.0,2014-03-26 14:23:57,774.0,2014-03-26 14:25:17,1039.0,...,2014-03-26 14:35:40,1039.0,2014-03-26 14:35:42,774.0,2014-03-26 14:39:41,1039.0,2014-03-26 14:39:42,NaN,NaN,0
253551,253552,677,2014-02-19 15:05:24,812.0,2014-02-19 15:05:24,812.0,2014-02-19 15:05:25,774.0,2014-02-19 15:05:57,22.0,...,2014-02-19 15:06:11,812.0,2014-02-19 15:09:39,570.0,2014-02-19 15:09:39,570.0,2014-02-19 15:14:15,570.0,2014-02-19 15:14:25,0
253552,253553,778,2013-11-15 08:34:48,780.0,2013-11-15 08:34:49,780.0,2013-11-15 08:34:59,778.0,2013-11-15 08:35:00,780.0,...,2013-11-15 08:35:03,780.0,2013-11-15 08:35:04,780.0,2013-11-15 08:35:15,778.0,2013-11-15 08:35:16,780.0,2013-11-15 08:35:17,0
253553,253554,23797,2014-04-15 13:11:32,1171.0,2014-04-15 13:11:34,3.0,2014-04-15 13:11:35,3.0,2014-04-15 13:11:37,8.0,...,2014-04-15 13:11:50,3.0,2014-04-15 13:11:52,25722.0,2014-04-15 13:11:54,25723.0,2014-04-15 13:11:55,4.0,2014-04-15 13:11:58,0
253554,253555,71,2014-01-29 09:24:35,29.0,2014-01-29 09:24:35,570.0,2014-01-29 09:24:42,29.0,2014-01-29 09:24:46,3.0,...,2014-01-29 09:25:13,5586.0,2014-01-29 09:25:16,5587.0,2014-01-29 09:25:24,5587.0,2014-01-29 09:25:25,5587.0,2014-01-29 09:25:26,0
253555,253556,9041,2013-04-12 13:11:57,291.0,2013-04-12 13:12:01,23.0,2013-04-12 13:12:03,52.0,2013-04-12 13:12:03,23.0,...,2013-04-12 13:12:06,2371.0,2013-04-12 13:12:07,2371.0,2013-04-12 13:12:09,52.0,2013-04-12 13:12:12,52.0,2013-04-12 13:12:13,0
253556,253557,3474,2013-11-25 10:26:54,3474.0,2013-11-25 10:26:58,141.0,2013-11-25 10:27:03,2428.0,2013-11-25 10:27:04,106.0,...,2013-11-25 10:27:16,2428.0,2013-11-25 10:27:28,2428.0,2013-11-25 10:27:40,2428.0,2013-11-25 10:27:52,148.0,2013-11-25 10:27:53,0
253557,253558,12727,2013-03-12 16:01:15,12727.0,2013-03-12 16:01:16,2215.0,2013-03-12 16:01:16,38.0,2013-03-12 16:01:17,2215.0,...,2013-03-12 16:01:17,25444.0,2013-03-12 16:01:18,2215.0,2013-03-12 16:01:18,23.0,2013-03-12 16:01:18,21.0,2013-03-12 16:01:18,0
253558,253559,2661,2013-09-12 14:05:03,15004.0,2013-09-12 14:05:10,5562.0,2013-09-12 14:05:10,5562.0,2013-09-12 14:06:29,5562.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
253559,253560,812,2013-12-19 15:20:22,676.0,2013-12-19 15:20:22,814.0,2013-12-19 15:20:22,22.0,2013-12-19 15:20:22,39.0,...,2013-12-19 15:20:23,814.0,2013-12-19 15:20:23,570.0,2013-12-19 15:20:23,22.0,2013-12-19 15:20:24,570.0,2013-12-19 15:20:24,0
253560,253561,34942,2014-04-25 09:56:52,1429.0,2014-04-25 09:56:53,34942.0,2014-04-25 09:56:53,29.0,2014-04-25 09:56:54,30.0,...,2014-04-25 09:56:54,5779.0,2014-04-25 09:56:54,30.0,2014-04-25 09:56:55,35.0,2014-04-25 09:56:55,33.0,2014-04-25 09:56:55,0